<div id="header">
  <div id="masthead">
    <div id="branding" role="banner">
      <h1 id="site-title">
        <span>
          <a href="http://agreementmaker.github.io/" title="AgreementMaker" rel="home">AgreementMaker</a>
        </span>
      </h1>
      <div id="site-description">Efficient Matching for Large Real-World Schemas and Ontologies</div>

      <img src="http://cdn.agreementmaker.org/web/images/agreementmaker.png" alt="" height="198" width="940">
    </div><!-- #branding -->

    <div id="access" role="navigation">
      <div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
      <div class="menu-header">
        <ul id="menu-agreementmaker-org" class="menu">
          <li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20">
            <a href="http://github.com/agreementmaker">GitHub</a>
          </li>
          <li id="menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19">
            <a href="https://github.com/agreementmaker/agreementmaker/wiki">Wiki</a>
          </li>
          <li id="menu-item-41" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41">
            <a href="http://agreementmaker.org/wiki/index.php/User_Interface">Screenshots</a>
          </li>
          <li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40">
            <a href="http://www.cs.uic.edu/Advis">ADVIS Laboratory</a>
          </li>
        </ul>
      </div>
    </div><!-- #access -->
  </div><!-- #masthead -->
</div><!-- #header -->
